/*
====================================
== General globals and sections
====================================
*/

header {
	@include container;
	padding-top: 0;
	padding-bottom: 0;
	background-color: $m-blck;
}

footer {
	@include container;
	background-color: $m-blck;
	color: $dark-grey;
}

section{
	@include container;
	@include row;
}

.section__light {
	background-color: $cold-grey;
	color: $m-blck;
}
.section__dark {
	background-color: $dark-grey;
	color: $m-wht;
}
