/*
====================================
== Header and Navigation
====================================
*/

.flex-row {
	display: flex;
	justify-content: flex-end;
}

.logo {
	flex: 2 auto;
	padding-top: $base-fs;
	padding-bottom: $base-fs;

	img {
		height: 48px;
	}
}

nav {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;

	a {
		@include type-setting(1);
		padding-top: $base-fs + 4;
		padding-bottom: $base-fs;
		height: 100%;
		min-width: 120px;
		font-size: 24px;
		line-height: 1.5;
		font-weight: 400;
		text-align: center;
		text-decoration: none;
		color: $m-wht;
	}
}

.nav-item {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		right: 50%;
		bottom: 0;
		left: 50%;
		height: 4px;
		background-color: rgba(255, 255, 255, 1);
		transition: left 0.2s ease-in-out, right 0.2s ease-in-out;
	}

	&:hover {

		&::before {
			right: 0%;
			left: 0%;
		}
	}
}
