/*
====================================
== Hero section
====================================
*/

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 95vh;
	min-height: 500px;
}

.hero-background {
	background: linear-gradient(135deg, #ffd194 0%, #70e1f5 100%);
}

.hero--components {
	@include container;
}
