/*
====================================
== Grid and Layout related things
====================================
*/

$gr-gutter: 3%;

@mixin container {
	padding: $base-fs 5%;

	@media #{$medium-and-up} {
		padding-right: 8%;
		padding-left: 8%;
	}

	@media #{$large-and-up} {
		padding-right: 15%;
		padding-left: 15%;
	}
}

@mixin row {
	width: 100%;

	// Clearfix
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin float-column {
	float: left;
	margin-right: $gr-gutter;
	min-height: 1px;

	&:last-child {
		margin-right: 0%;
	}
}

$number-of-column-spans: (
	1: ((100% / 12) - ($gr-gutter * 11 / 12)),
	2: ((100% / 6) - ($gr-gutter * 10 / 12)),
	3: ((100% / 4) - ($gr-gutter * 9 / 12)),
	4: ((100% / 3) - ($gr-gutter * 8 / 12)),
	5: ((100% / 2.4) - ($gr-gutter * 7 / 12)),
	6: ((100% / 2) - ($gr-gutter * 6 / 12)),
	7: ((100% / 1.714285714285714) - ($gr-gutter * 5 / 12)),
	8: ((100% / 1.5) - ($gr-gutter * 4 / 12)),
	9: ((100% / 1.333333333333333) - ($gr-gutter * 3 / 12)),
	10: ((100% / 1.2) - ($gr-gutter * 2 / 12)),
	11: ((100% / 1.090909090909091) - ($gr-gutter * 1 / 12)),
	12: (100%)
);

@mixin col($span-number) {
	@if map-has-key($number-of-column-spans, $span-number) {
		@include float-column;
		width: #{map-get($number-of-column-spans, $span-number)};
	}
}
