html {
	box-sizing: border-box;
	font-family: $base-font;
	font-size: $base-fs;
	font-weight: 400;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;

	&:active,
	&:focus {
		border: 0 none;
	}
}
