// Colors
$primary: rgba(41, 170, 225, 1);
$dark-grey: rgba(77, 77, 77, 1);
$cold-grey: rgba(221, 235, 237, 1);
$salmon: rgba(233, 102, 86, 1);

$m-wht: rgba(252, 252, 252, 1);
$m-wht-87: rgba(252, 252, 252, 0.87);

$m-blck: rgba(10, 10, 10, 1);
$m-blck-87: rgba(10, 10, 10, 0.87);

// Typography
$base-font: 'Roboto', sans-serif;

$base-fs: 16px;
$base-line-height: 1.25 * $base-fs;

// Media Querries

$medium-width:				601px;
$large-width: 				901px;

$medium-and-up:				(min-width: #{$medium-width});
$large-and-up:				(min-width: #{$large-width});
