/*
====================================
== Header and Navigation
====================================
*/

button {
	border: 0 none;
	border-radius: $base-fs * 0.25;
	padding: $base-fs $base-fs * 1.5;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
}

.btn--dark {
	@include z-depth(1);
	color: #ccc;
	background-color: #333;

	&:hover {
		@include z-depth(3);
		color: #fff;
		background-color: #111;
	}
}

.btn--light {
	color: #333;
	background-color: #ccc;

	&:hover {
		color: #111;
		background-color: #fff;
	}
}
